.articlesListMain .header input {
    padding: 0px;
    font-size: 16px;
    border: 0px solid #FFF;
    width: 165px;
  }
  .articlesListMain .theList li {
    background-color: #fff;
    border: 1px #ccc;
    color: #333;
    font-size: 13pt;

    padding: 0px;
    margin-bottom: 15px;
    border-radius: 0px;
   
    transition: background-color .2s ease-out;
  }

  .articlesListMain .theList i {
    
    border: 1px #ccc;
    color: #999;
    font-size: 13pt;

    padding: 15px;
    margin-bottom: 15px;
    border-radius: 0px;
   
    transition: background-color .2s ease-out;
  }


  .articlesListMain .theList tr {
  border: 10px solid #333;
  border: solid;
  border-width: 1px 1;
  }
  
  .articlesListMain .theList td {
    background-color: #fff;
    color: #333;
    font-size: 13pt;

    padding: 15px;
    margin-bottom: 15px;
    border-radius: 0px;
      
   
    transition: background-color .2s ease-out;
  }

  .articlesListMain .theList tr:hover td {
    background-color: #b8b8b8;
    cursor: pointer;

    border: 1px #ccc;
    color: #333;
    font-size: 13pt;

    padding: 15px;
    margin-bottom: 15px;
    border-radius: 0px;

    content: "\00BB";
    margin-right: 6px;
    
   
    transition: background-color .2s ease-out;
  }

  .articlesListMain .theList tr td button{
    background-color: #fff;
    color: #fff;
    border: 1px #ccc;

    transition: background-color .2s ease-out;
  }

  .articlesListMain .theList tr button:hover{
    background-color: #b8b8b8;
    color: #000;
    border: 1px #b8b8b8;

    transition: background-color .2s ease-out;
  }

  .articlesListMain .theList tr:hover button{
    background-color: #b8b8b8;
    color: #000;
    border: 1px #b8b8b8;

    transition: background-color .2s ease-out;
  }
 
  ul.theList {
    padding: 0;
  }
  