body {
  background-color: #fff;
  font-family: sans-serif;
  padding: 0px;
}
#container {
  display: flex;
  justify-content: center;
}
#header{
  background-color: #333;
  color: #fff;
  border: 10px solid #333;
}
